.nbar-editor{
    background-color: #3f3f3f;
    padding: 10px;
    display: flex;
    align-items: center;
}

.wbdv-page-tab{
    color: darkgray;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-pills > li > a.active {
    background-color: #313131!important;
    color: white!important;
}

.nav-pills > li > a:hover {
    color: #ffffff !important;
}


.wbdv-module-times{
    color: white;
}

.module-list{
    background-color: #313131;
    display: table-cell;
}

.wbdv-module-item-highlighted{
    background-color: #818181;
    color: white;
    padding: 15px;
    margin: 10px;
}
.wbdv-module-item{
    background-color: #3f3f3f;
    color: white;
    padding: 10px;
    margin: 10px;
}
.wbdv-module-item-delete-btn{
    background-color: Transparent;
    float: right;
    border: none;
}
.delete-and-save-module{
    float: right;
}
.wbdv-module-item-title{
    color: white;
    font-size: large;
    /*display: flex;*/
    /*align-items: center;*/
}

.nav-pills > div > a:hover {
    color: lightgray !important;
}


.nav-pills > div > a.active {
    background-color: cornflowerblue!important;
}

.wbdv-module-item-title:hover{
     color: lightgray;
 }
.topics{
    padding: 20px;
    background-color: white;
    display: table-cell;
}



/*.nav-pills .wbdv-topic-pill-list > li > a.active {*/
/*    background-color: black;*/
/*}*/

/*.nav-pills .wbdv-topic-pill-list> li > a:hover {*/
/*    color: #ffffff !important;*/
/*}*/
.wbdv-topic-pill{
    background-color: #949494;
    margin-left: 10px;
    margin-right: 10px;
    color: black!important;
}

.wbdv-module-item-add-btn{
    padding: 10px;
    float: right;
}
.wbdv-module-add{
    color: white;
}
.preview-toggle{
    padding: 10px;
    display: flex;
    align-items: center;
}

.heading-widget{
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.hd-widget-row{
    display: flex;
    align-items: center;
}

.course-editor-input{
    padding: 20px;
    margin-bottom: 20px;
}

.course-editor-select{
    margin-bottom: 20px;
}

.wbdv-static{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background: none;
    color: red;
}

.wbdv-new-page-btn{
    color: lightgray;
}

.wbdv-course-title{
    color: white;
    font-size: larger;
}

.wbdv-back{
    color: lightgray;
}

.wbdv-topic-add-btn{
    color: white;
}

.wbdv-heading-widget{
    padding: 20px;
}

.wbdv-widget-select{
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.wbdv-preview-row{
    margin-bottom: 20px;
}

.delete-and-save-btn{
    float: right;
}
.module-input{
    border-radius: 6px;
    font-weight: bold;
    font-family: -apple-system;
    font-size: large;

}

.module-btn{
    color: white;
}
.module-btn:hover{
    color: white;
}

.add-lesson{
    float: right;
    color: #818181;
}
.add-lesson:hover{
    color: white!important;
}
.wbdv-edit-module{
    color: white;
}
.lesson-title{
    color: white;
}

.wbdv-page-tab{
    width: 220px;
}
.lesson-input{
    border-radius: 6px;
    font-weight: bold;
    font-family: -apple-system;
    width: 100px;
}
.wbdv-link:link{
    color: white;
}
.wbdv-link:hover{
    color: cornflowerblue;
}

.wbdv-topic-add{
    color: #282c34;
}
/*.topic-pills{*/
/*    width: 150px;*/
/*}*/

.topic-input{
    border-radius: 6px;
    font-weight: bold;
    font-family: -apple-system;
    width: 100px;
}

